@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background: theme('colors.background.DEFAULT');
  color: theme('colors.foreground.DEFAULT');
}